<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.macfoods.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <display-name>MACFOODS</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.macfoods.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCart</display-name>
    <servlet-name>UserCart</servlet-name>
    <servlet-class>com.macfoods.controller.UserCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCart</servlet-name>
    <url-pattern>/UserCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCartMenu</display-name>
    <servlet-name>UserCartMenu</servlet-name>
    <servlet-class>com.macfoods.controller.UserCartMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCartMenu</servlet-name>
    <url-pattern>/UserCartMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCart</display-name>
    <servlet-name>RemoveCart</servlet-name>
    <servlet-class>com.macfoods.controller.RemoveCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCart</servlet-name>
    <url-pattern>/RemoveCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveItemsCart</display-name>
    <servlet-name>RemoveItemsCart</servlet-name>
    <servlet-class>com.macfoods.controller.RemoveItemsCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItemsCart</servlet-name>
    <url-pattern>/RemoveItemsCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Orders</display-name>
    <servlet-name>Orders</servlet-name>
    <servlet-class>com.macfoods.controller.Orders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orders</servlet-name>
    <url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.macfoods.controller.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.macfoods.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>